
.adam-knapp {
    background-color: red !important;
}

.adam-header {
    margin-left: auto !important;
    margin-right: auto !important;
}

.adam-header:before {
    content: none !important;
}
    
.adam-header {
    color: red !important;
}

.adam-menu {
    background-color: black !important;
}
